<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname;
    var disqus_identifier = '{{post.id}}';

    function revealDisqus () {
      if (window.__themeCfg.disqusUsername) {

        disqus_shortname = window.__themeCfg.disqusUsername;
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      }
      else console.warn("To add Disqus commenting platform to your blog posts put '\x3Cscript\>window.__themeCfg.disqusUsername= \'my Disqus Username\';\x3C/script\>' in the Ghost code injection!");
    }

    revealDisqus();
</script>
