<footer>
  <div class="footer-container">
    <a href="https://twitter.com/ktweeden" class="social-button">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/ktweeden" class="social-button">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a href="http://codepen.io/katepreston/" class="social-button">
      <i class="fa fa-codepen" aria-hidden="true"></i>
    </a>
    <a href="mailto:ktweeden@hotmail.com" class="social-button">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
  </div>
  <script type="text/javascript" src="{{asset 'js/readingTime.js'}}"></script>
</footer>
