<nav class="next-post-wrapper">
  <div class="prev-post">
    {{#prev_post}}
      <a href="{{url}}">
        Older
      </a>
    {{/prev_post}}
  </div>
  <div class="next-post">
    {{#next_post}}
      <a href="{{url}}">
        Newer
      </a>
    {{/next_post}}
  </div>
</nav>
