{{#foreach posts}}
<div class="post-exerpt">
  <div class="time-to-read">
  </div>
  <h2 class="exerpt-title">
    {{title}}
  </h2>
  <div class="exerpt-date">
    {{date format="YYYY MMM DD"}}
  </div>
  <div class="top-tags">
  </div>
</div>
{{/foreach}}
