<div class="authorship">
  {{#author}}
    {{#if image}}
      <div class="author-pic" style="background-image:url({{image}})"></div>
    {{/if}}
    <div class="name-date">
      <a class="author-name" url="{{url}}">
        {{name}}
      </a>
      {{/author}}
      <date class="post-date">
        {{date format="MMM DD YYYY"}}
      </date>
    </div>
</div>
