<!DOCTYPE html>
<html>
  <head>

    <title>{{meta_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{>css_styles}}
    {{>header_scripts}}
    {{ghost_head}}
  </head>
  <body>
    {{{body}}}
    {{ghost_foot}}
  </body>
</html>
