{{!< default}}
<div class="full-content-wrapper">
  <div class="header-wrapper">
    {{>fp_header}}
  </div>
  <div class="index-list-wrapper">
    {{>post_list}}
  </div>
  <div class="pagination-wrapper">
    {{pagination}}
  </div>
  <div class="footer-wrapper">
    {{>footer}}
  </div>
</div>
