{{!< default}}
  {{#post}}
  <div class="full-content-wrapper">
    <div class="header-wrapper">
      {{>post_header}}
    </div>
    <div class="title-wrapper">
      {{>post_title}}
    </div>
    <div class="content-wrapper">
      {{>post_authorship}}
      {{content}}
    </div>
    <div class="tag-wrapper">
      {{>post_tags}}
    </div>
    <div class="np-wrapper">
      {{>next_prev_post}}
    </div>
    <div class="commenting-wrapper">
      {{>disqus}}
    </div>
    <div class="footer-wrapper">
      {{>footer}}
    </div>
  </div>
  {{/post}}
