/**
  VARIABLES
**/
/* Breakpoints */
/* Colours */
/* Padding */
/* Font sizes */
/**
  TAGS
**/
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  background-color: #EFEFEF; }

a {
  text-decoration: initial;
  color: inherit; }

h1 {
  font-size: 2.5em;
  color: #011627;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Permanent Marker', Impact, Charcoal, sans-serif;
  font-weight: 300; }

h2 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  border: 0; }

h3 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  border: 0; }

/**
  MIXINS
**/
.blog-title-background {
  background-color: #FFBF00;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .blog-title-background h1 {
    padding: 0.7em 0.2em;
    background-color: inherit;
    margin-bottom: 0.2em;
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    @media screen and (max-width: 550px) {
      .blog-title-background h1 {
        font-size: 3.5em; } }
    @media screen and (min-width: 551px) {
      .blog-title-background h1 {
        font-size: 4em; } }

.navigation-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 0.2em; }
  .navigation-container li {
    width: 50%;
    padding: 0.2em;
    text-align: center;
    font-size: 1.5em;
    color: #254E70;
    list-style-type: none;
    margin: 0.2em; }
    @media screen and (min-width: 1001px) {
      .navigation-container li:hover {
        color: #FFBF00;
        -webkit-transition: 0.2s;
        transition: 0.2s; } }

.tag-title {
  text-transform: uppercase;
  padding-top: 1.4em;
  padding-bottom: 0.7em;
  text-align: left;
  color: #254E70; }
  @media screen and (max-width: 1001px) {
    .tag-title {
      padding-left: 0.7em;
      padding-right: 0.7em; } }

.post-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 1em; }
  @media screen and (max-width: 1001px) {
    .post-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media screen and (min-width: 1001px) {
    .post-wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

@media screen and (max-width: 550px) {
  .excerpt-date {
    display: none; } }
@media screen and (min-width: 551px) {
  .excerpt-date {
    text-align: left;
    padding-top: 0.7em;
    padding-right: 0.7em;
    display: inline-block; } }
@media screen and (min-width: 551px) and (max-width: 1000px) {
  .excerpt-date {
    padding-left: 0.7em; } }

.image-wrapper {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }
  @media screen and (max-width: 1001px) {
    .image-wrapper {
      width: 100%; } }
  @media screen and (min-width: 1001px) {
    .image-wrapper {
      width: 40%;
      margin-right: 1em; } }

.excerpt-image {
  background-position: center; }
  @media screen and (max-width: 550px) {
    .excerpt-image {
      display: none; } }
  @media screen and (min-width: 551px) and (max-width: 1000px) {
    .excerpt-image {
      width: 100%; } }
  @media screen and (min-width: 551px) {
    .excerpt-image {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      height: 250px;
      background-size: cover;
      margin-right: 0.7em;
      margin-top: 0.7em;
      margin-bottom: 0.7em; } }
  @media screen and (min-width: 1001px) {
    .excerpt-image {
      width: 40%; } }

.post-excerpt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (max-width: 550px) {
    .post-excerpt {
      width: 100%;
      padding: 0.7em; } }
  @media screen and (min-width: 551px) and (max-width: 1000px) {
    .post-excerpt {
      width: 100%;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      padding-right: 0.7em;
      padding-left: 0.7em; } }
  @media screen and (min-width: 551px) {
    .post-excerpt {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      padding-bottom: 0.7em; } }
  @media screen and (max-width: 1001px) {
    .post-excerpt {
      -webkit-box-align: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center; } }
  @media screen and (min-width: 1001px) {
    .post-excerpt {
      -webkit-box-align: start;
          -ms-flex-align: start;
                  -ms-grid-row-align: flex-start;
              align-items: flex-start;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; } }
  .post-excerpt .excerpt-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 550px) {
      .post-excerpt .excerpt-title {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; } }
    @media screen and (min-width: 551px) {
      .post-excerpt .excerpt-title {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        padding: 0.2em 0;
        width: 100%;
        font-family: 'Permanent Marker', Impact, Charcoal, sans-serif; } }
  @media screen and (max-width: 550px) {
    .post-excerpt .excerpt-description {
      display: none; } }
  @media screen and (min-width: 551px) and (max-width: 1000px) {
    .post-excerpt .excerpt-description {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; } }
  @media screen and (min-width: 1001px) {
    .post-excerpt .excerpt-description {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      min-width: 100%; } }
  .post-excerpt .date-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 550px) {
      .post-excerpt .date-time {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin-right: 0.7em; } }
    @media screen and (min-width: 551px) and (max-width: 1000px) {
      .post-excerpt .date-time {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin-right: 0.7em; } }
    @media screen and (min-width: 1001px) {
      .post-excerpt .date-time {
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4;
        -ms-flex-item-align: end;
            align-self: flex-end; } }
    @media screen and (max-width: 550px) {
      .post-excerpt .date-time .excerpt-date-phone {
        width: 100%;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        padding-bottom: 0.2em;
        text-align: center; } }
    @media screen and (min-width: 551px) {
      .post-excerpt .date-time .excerpt-date-phone {
        display: none; } }
    .post-excerpt .date-time .time-to-read {
      background-color: inherit;
      border-width: 2px;
      border-style: solid;
      border-color: #FF4B3E;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0.2em;
      width: 90px;
      height: 90px; }
      @media screen and (max-width: 550px) {
        .post-excerpt .date-time .time-to-read {
          -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
                  order: 2; } }
      @media screen and (min-width: 551px) {
        .post-excerpt .date-time .time-to-read {
          -webkit-box-ordinal-group: 4;
              -ms-flex-order: 3;
                  order: 3; } }
      .post-excerpt .date-time .time-to-read h1 {
        color: #FF4B3E;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        font-size: 2.5em; }
      .post-excerpt .date-time .time-to-read div {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        text-align: center; }
      .post-excerpt .date-time .time-to-read .content-string {
        display: none; }
  .post-excerpt .top-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0.7em; }
    @media screen and (max-width: 550px) {
      .post-excerpt .top-tags {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
    @media screen and (min-width: 551px) and (max-width: 1000px) {
      .post-excerpt .top-tags {
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
    @media screen and (max-width: 1001px) {
      .post-excerpt .top-tags {
        width: 100%; } }
    @media screen and (min-width: 1001px) {
      .post-excerpt .top-tags {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -ms-flex-item-align: end;
            align-self: flex-end;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; } }
    .post-excerpt .top-tags .tag {
      text-transform: uppercase;
      padding: 0.2em;
      text-align: center;
      color: #254E70; }
      @media screen and (max-width: 550px) {
        .post-excerpt .top-tags .tag {
          margin-right: 0.7em; } }
      @media screen and (min-width: 551px) and (max-width: 1000px) {
        .post-excerpt .top-tags .tag {
          margin-left: 0.7em; } }
      @media screen and (max-width: 1001px) {
        .post-excerpt .top-tags .tag {
          border-bottom: 1px solid #254E70;
          margin-bottom: 0.2em; } }
      @media screen and (min-width: 1001px) {
        .post-excerpt .top-tags .tag {
          margin-right: 0.7em;
          margin-top: 0.2em;
          border: 1px solid #254E70;
          font-size: 1.1em; }
          .post-excerpt .top-tags .tag:hover {
            color: #FFBF00;
            border-color: #FFBF00;
            -webkit-transition: 0.2s;
            transition: 0.2s; } }

.pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  @media screen and (max-width: 550px) {
    .pagination {
      padding-bottom: 0.7em;
      padding-left: 0.7em;
      padding-right: 0.7em; } }
  @media screen and (min-width: 551px) and (max-width: 1000px) {
    .pagination {
      padding: 0.2em 0.7em; } }
  @media screen and (min-width: 1001px) {
    .pagination {
      padding: 0.7em 0; } }
  .pagination .wrapper {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .pagination .wrapper a {
      width: 100%;
      color: #FF4B3E;
      text-transform: uppercase;
      font-size: 1.5em; }
      .pagination .wrapper a.older-posts {
        text-align: left; }
      .pagination .wrapper a.newer-posts {
        text-align: right; }
      @media screen and (min-width: 1001px) {
        .pagination .wrapper a:hover {
          color: #FFBF00;
          -webkit-transition: 0.2s;
          transition: 0.2s; } }

.footer-container {
  background-color: #254E70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end; }
  .footer-container .social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid #FFBF00;
    background-color: inherit;
    font-size: 2em;
    color: #FFBF00;
    padding: 0.1em;
    margin: 0.2em; }
    @media screen and (min-width: 1001px) {
      .footer-container .social-button:hover {
        color: #EFEFEF;
        border-color: #EFEFEF;
        -webkit-transition: 0.2s;
        transition: 0.2s; } }
    .footer-container .social-button.hidden {
      display: none; }

@media screen and (max-width: 550px) {
  .theme-info {
    display: none; } }
@media screen and (min-width: 551px) {
  .theme-info {
    color: #FF4B3E;
    background-color: #EFEFEF;
    text-align: right;
    font-size: 0.8em;
    padding: 0.7em;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    .theme-info a {
      border-bottom: 1px solid #FF4B3E; } }

.full-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%; }
  .full-content-wrapper .header-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%; }
  .full-content-wrapper .index-list-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 1000px; }
  .full-content-wrapper .pagination-wrapper {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    max-width: 1000px; }
  .full-content-wrapper .footer-wrapper {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
    -ms-flex-item-align: end;
        align-self: flex-end; }
/*# sourceMappingURL=index.css.map */