/**
  VARIABLES
**/
/* Colours */
/*Padding*/
/*Font sizes*/
/**
  TAGS
**/
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  background-color: #EFEFEF; }

a {
  text-decoration: initial;
  color: inherit; }

h1 {
  font-size: 2.5em;
  color: #011627;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Permanent Marker', Impact, Charcoal, sans-serif;
  font-weight: 300;
  text-align: center; }

h2 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  border: 0; }

h3 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  border: 0; }

.blog-title-background {
  background-color: #FFBF00;
  width: 100%; }
  .blog-title-background h1 {
    padding: 0.7em 0.2em;
    background-color: inherit; }

.navigation-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 0.2em; }
  .navigation-container a {
    width: 50%;
    padding: 0.2em;
    text-align: center;
    font-size: 2em;
    color: #FFBF00;
    background-color: #254E70; }

.tag-title {
  text-transform: uppercase;
  padding: 0.7em;
  text-align: left;
  color: #254E70; }

.post-exerpt {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.7em;
  align-items: center;
  margin-bottom: 1em; }
  .post-exerpt .exerpt-title {
    flex: 1;
    order: 2;
    display: flex;
    align-items: center; }
  .post-exerpt .date-time {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 0.7em; }
    .post-exerpt .date-time .exerpt-date {
      width: 100%;
      order: 1;
      padding-bottom: 0.2em;
      text-align: center; }
    .post-exerpt .date-time .time-to-read {
      width: 90px;
      height: 90px;
      order: 2;
      background-color: inherit;
      border-width: 2px;
      border-style: solid;
      border-color: #FF4B3E;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.2em; }
      .post-exerpt .date-time .time-to-read h1 {
        color: #FF4B3E;
        font-size: 2.5em;
        order: 1; }
      .post-exerpt .date-time .time-to-read div {
        order: 1;
        text-align: center; }
      .post-exerpt .date-time .time-to-read .content-string {
        display: none; }
  .post-exerpt .top-tags {
    width: 100%;
    order: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 0.7em; }
    .post-exerpt .top-tags .tag {
      text-transform: uppercase;
      padding: 0.2em;
      margin-right: 0.7em;
      margin-bottom: 0.2em;
      text-align: center;
      color: #254E70;
      border-bottom: 1px solid #254E70; }

.pagination {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row; }
  .pagination .wrapper {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-bottom: 0.2em; }
    .pagination .wrapper a {
      width: 100%;
      color: #FF4B3E;
      text-transform: uppercase;
      font-size: 1.5em;
      border: 2px solid #FF4B3E;
      padding: 0.2em;
      text-align: center; }

.footer-container {
  background-color: #254E70;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-end; }
  .footer-container .social-button {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFBF00;
    background-color: inherit;
    font-size: 2em;
    color: #FFBF00;
    padding: 0.2em;
    margin: 0.2em; }

.full-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .full-content-wrapper .header-wrapper {
    order: 1;
    width: 100%; }
  .full-content-wrapper .index-list-wrapper {
    order: 2;
    width: 100%;
    flex-grow: 1; }
  .full-content-wrapper .pagination-wrapper {
    order: 3;
    width: 100%; }
  .full-content-wrapper .footer-wrapper {
    order: 4;
    width: 100%;
    align-self: flex-end; }

/*# sourceMappingURL=index.css.map */
