/**
  VARIABLES
**/
/* Breakpoints */
/* Colours */
/* Padding */
/* Font sizes */
/**
  TAGS
**/
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  background-color: #EFEFEF; }

a {
  text-decoration: initial;
  color: inherit; }

h1 {
  font-size: 2.5em;
  color: #011627;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Permanent Marker', Impact, Charcoal, sans-serif;
  font-weight: 300; }

h2 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  border: 0; }

h3 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  border: 0; }

/**
  MIXINS
**/
.navigation-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 0.2em; }
  .navigation-container li {
    width: 50%;
    padding: 0.2em;
    text-align: center;
    color: #254E70;
    list-style-type: none;
    margin: 0.2em; }

.blog-title-background {
  background-color: #FFBF00;
  width: 100%; }
  .blog-title-background h1 {
    padding: 0.2em;
    font-size: 1.5em;
    background-color: inherit;
    text-align: center; }

.post-title-background h2 {
  font-size: 2.5em;
  color: #254E70;
  background-color: inherit;
  text-align: center;
  width: 100%; }
  @media screen and (max-width: 550px) {
    .post-title-background h2 {
      padding: 0.7em 0.2em; } }
  @media screen and (min-width: 551px) {
    .post-title-background h2 {
      padding: 0.7em 2em; } }

.post-image {
  width: 100%;
  background-size: cover;
  margin-right: 0.7em;
  margin-bottom: 0.7em; }
  @media screen and (max-width: 550px) {
    .post-image {
      height: 150px; } }
  @media screen and (min-width: 551px) {
    .post-image {
      margin-top: 0.7em;
      height: 250px; } }

.tag-container {
  display: flex;
  flex-wrap: wrap; }
  .tag-container .tag {
    text-transform: uppercase;
    padding: 0.2em;
    margin: 0.2em;
    text-align: center;
    color: #FF4B3E;
    border: 1px solid #FF4B3E; }

.footer-container {
  background-color: #254E70;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-end; }
  .footer-container .social-button {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFBF00;
    background-color: inherit;
    font-size: 2em;
    color: #FFBF00;
    padding: 0.2em;
    margin: 0.2em; }

@media screen and (max-width: 550px) {
  .theme-info {
    display: none; } }
@media screen and (min-width: 551px) {
  .theme-info {
    color: #FF4B3E;
    background-color: #EFEFEF;
    text-align: right;
    font-size: 0.8em;
    padding: 0.7em;
    width: 100%;
    order: 1; }
    .theme-info a {
      border-bottom: 1px solid #FF4B3E; } }

.content-wrapper {
  order: 2;
  flex-grow: 1;
  max-width: 900px;
  align-self: center;
  width: 100%; }
  @media screen and (max-width: 550px) {
    .content-wrapper {
      padding: 0.2em 0.7em; } }
  @media screen and (min-width: 551px) {
    .content-wrapper {
      padding: 0.2em 2em; } }
  .content-wrapper h1, .content-wrapper h2, .content-wrapper h3, .content-wrapper h4 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #254E70; }
  .content-wrapper p {
    padding: 0.2em 0; }
  .content-wrapper a {
    text-decoration: underline;
    border-bottom: 1px solid #FFBF00;
    text-decoration: none;
    color: #FFBF00; }
  .content-wrapper blockquote {
    margin: 1em 0;
    padding-left: 0.2em;
    border-left: 0.2em solid #FF4B3E; }
  .content-wrapper img {
    width: 100%;
    height: 100%;
    margin: 0.7em 0; }
  .content-wrapper li {
    list-style-type: circle; }
  .content-wrapper mark {
    background-color: #FF4B3E; }
  .content-wrapper del {
    color: #FFBF00; }
  .content-wrapper hr {
    border-top: 2px solid #FF4B3E; }

.full-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .full-content-wrapper .header-wrapper {
    order: 1;
    width: 100%; }
  .full-content-wrapper .tag-wrapper {
    order: 3;
    width: 100%;
    max-width: 900px;
    align-self: center; }
    @media screen and (max-width: 550px) {
      .full-content-wrapper .tag-wrapper {
        padding: 0.2em 0.7em; } }
    @media screen and (min-width: 551px) {
      .full-content-wrapper .tag-wrapper {
        padding: 0.2em 2em; } }
  .full-content-wrapper .np-wrapper {
    order: 4;
    width: 100%;
    max-width: 900px;
    align-self: center; }
    @media screen and (max-width: 550px) {
      .full-content-wrapper .np-wrapper {
        padding: 0 0.7em; } }
    @media screen and (min-width: 551px) {
      .full-content-wrapper .np-wrapper {
        padding: 0 2em; } }
  .full-content-wrapper .footer-wrapper {
    order: 5;
    width: 100%;
    align-self: flex-end; }

.authorship {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 0.7em; }
  .authorship .author-pic {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-size: cover;
    order: 1; }
  .authorship a {
    border: 0px; }
  .authorship .name-date {
    display: flex;
    flex-direction: column;
    order: 2;
    padding-left: 0.7em; }
    .authorship .name-date .author-name {
      order: 1;
      padding-left: 0.2em;
      color: #FF4B3E; }
    .authorship .name-date .post-date {
      order: 2; }

.next-post-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row; }
  .next-post-wrapper .prev-post {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-bottom: 0.2em;
    text-align: left; }
  .next-post-wrapper .next-post {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-bottom: 0.2em;
    text-align: right; }
  .next-post-wrapper a {
    width: 100%;
    color: #254E70;
    text-transform: uppercase;
    font-size: 1.5em; }
    @media screen and (max-width: 550px) {
      .next-post-wrapper a {
        padding: 0.7em 0; } }
    @media screen and (min-width: 551px) {
      .next-post-wrapper a {
        padding-top: 0.7em; } }

/*# sourceMappingURL=post.css.map */
