.footer-container {
  background-color: $secondary-colour;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-end;

  .social-button {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $primary-colour;
    background-color: inherit;
    font-size: 2em;
    color: $primary-colour;
    padding: $small-padding;
    margin: $small-padding;
  }

}
