.blog-title-background {
  background-color: $primary-colour;
  width: 100%;

  h1 {
    padding: $medium-padding $small-padding;
    font-size: 3.5em;
    background-color: inherit;
  }
}

.navigation-container{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: $small-padding;

  a {
    width: 50%;
    padding: $small-padding;
    text-align: center;
    font-size: 2em;
    color: $background-colour;
    background-color: $secondary-colour;
  }
}
