.blog-title-background {
  background-color: $primary-colour;
  width: 100%;

  h1 {
    padding: $medium-padding $small-padding;
    background-color: inherit;
    font-size: $biggest-header;
    margin-bottom: $small-padding;
    text-align: center;
  }
}

.navigation-container{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: $small-padding;

  li {
    width: 50%;
    padding: $small-padding;
    text-align: center;
    font-size: $small-header;
    color: $secondary-colour;
    list-style-type: none;
    margin: $small-padding;
  }
}
