/**
  VARIABLES
**/

/* Colours */
$primary-colour: #FFBF00;
$secondary-colour: #254E70;
$tertiary-colour: #FF4B3E;
$font-colour: #011627;
$background-colour: #EFEFEF;

/*Padding*/
$small-padding: 0.2em;
$medium-padding: 0.7em;
$large-padding: 1em;



/**
  TAGS
**/

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;

  font-family: 'Raleway', sans-serif;
  background-color: $background-colour;
}

a {
  text-decoration: initial;
  color: inherit;
}

h1 {
  font-size: 3em;
  color: $font-colour;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  border: 0;
}

h3 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  border: 0;
}
