/**
  VARIABLES
**/

/* Breakpoints */
$phone-layout-max: 550px;
$tablet-layout-max: 900px;

/* Colours */
$primary-colour: #FFBF00;
$secondary-colour: #254E70;
$tertiary-colour: #FF4B3E;
$font-colour: #011627;
$background-colour: #EFEFEF;

/* Padding */
$small-padding: 0.2em;
$medium-padding: 0.7em;
$large-padding: 1em;

/* Font sizes */
$biggest-header: 3.5em;
$large-header: 2.5em;
$medium-header: 2em;
$small-header: 1.5em;


/**
  TAGS
**/

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;

  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  background-color: $background-colour;
}

a {
  text-decoration: initial;
  color: inherit;
}

h1 {
  font-size: $large-header;
  color: $font-colour;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Permanent Marker', Impact, Charcoal, sans-serif;
  font-weight: 300;
}

h2 {
  font-size: $medium-header;
  margin: 0;
  padding: 0;
  border: 0;
}

h3 {
  font-size: $small-header;
  margin: 0;
  padding: 0;
  border: 0;
}

/**
  MIXINS
**/

@mixin mq-phone {
  @media screen and (max-width: #{$phone-layout-max})
  {
    @content;
  }
}

@mixin mq-tablet {
  @media screen and (max-width: #{$tablet-layout-max})
  {
    @content;
  }
}
