.full-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;

  .header-wrapper {
    order: 1;
    width: 100%;
  }

  .index-list-wrapper {
    order: 2;
    width: 100%;
    flex-grow: 1;
    max-width: 900px;
  }

  .pagination-wrapper {
    order: 3;
    width: 100%;
    max-width: 900px;
  }

  .footer-wrapper {
    order: 4;
    width: 100%;
    align-self: flex-end;
  }

}
