.pagination {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  .wrapper {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-bottom: $small-padding;

    a {
      width: 100%;
      color: $tertiary-colour;
      text-transform: uppercase;
      font-size: $small-header;
      padding-bottom: $medium-padding;

      &.older-posts {
        text-align: left;
        padding-left: $medium-padding;
      }

      &.newer-posts {
        text-align: right;
        padding-right: $medium-padding;
      }
    }
  }

}
