.pagination {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;


  .wrapper {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    a {
      width: 100%;
      padding: $small-padding;
      text-align: center;
      font-size: 2em;
      color: $background-colour;
      background-color: $secondary-colour;
    }
  }

}
