.full-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header-wrapper {
    order: 1;
    width: 100%;
  }
  .commenting-wrapper {
    order: 5;
    max-width: 1000px;
    align-self: center;
    width: 100%;

    @include mq-phone {
      padding: $small-padding $medium-padding;
    };

    @include mq-not-phone {
      padding: $small-padding 2em;
    };
  }
  .tag-wrapper {
    order: 3;
    width: 100%;
    max-width: 1000px;
    align-self: center;

    @include mq-phone {
      padding: $small-padding $medium-padding;
    };

    @include mq-not-phone {
      padding: $small-padding 2em;
    };
  }
  .np-wrapper {
    order: 4;
    width: 100%;
    max-width: 1000px;
    align-self: center;

    @include mq-phone {
      padding: 0 $medium-padding;
    };

    @include mq-not-phone {
      padding: 0 2em;
    };
  }

  .footer-wrapper {
    order: 6;
    width: 100%;
    align-self: flex-end;
  }

}
