.tag-title {
  text-transform: uppercase;
  padding: $medium-padding;
  text-align: left;
  color: $secondary-colour;
}

.post-exerpt {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: $medium-padding;
  align-items: center;
  margin-bottom: $large-padding;

  .exerpt-title {
    flex: 1;
    order: 2;
    display: flex;
    align-items: center;
  }

  .date-time {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: $medium-padding;

    .exerpt-date {
      width: 100%;
      order: 1;
      padding-bottom: $small-padding;
      text-align: center;
    }
    .time-to-read {
      width: 90px;
      height: 90px;
      order: 2;
      background-color: inherit;
      border-width: 2px;
      border-style: solid;
      border-color: $tertiary-colour;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: $small-padding;

      h1 {
        color: $tertiary-colour;
        font-size: $large-header;
        order: 1;
      }

      div {
        order: 1;
        text-align: center;
      }

      .content-string {
        display: none;
      }
    }
  }

  .top-tags {
    width: 100%;
    order: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: $medium-padding;

    .tag {
      text-transform: uppercase;
      padding: $small-padding;
      margin-right: $medium-padding;
      margin-bottom: $small-padding;
      text-align: center;
      color: $secondary-colour;
      border-bottom: 1px solid $secondary-colour;
    }
  }
}
