.content-wrapper {
  order: 3;
  flex-grow: 1;
  max-width: 1000px;
  align-self: center;
  width: 100%;

    @include mq-phone {
      padding: $small-padding $medium-padding;
    };

    @include mq-tablet {
      padding: $small-padding $reading-column-padding;
    };

    @include mq-desktop {
      padding: $small-padding 0;
    };

  h1, h2, h3, h4 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: $secondary-colour;
  }

  p {
    padding: $small-padding 0;
  }

  a {
    text-decoration: underline;
    border-bottom: 1px solid $primary-colour;
    text-decoration: none;
    color: $primary-colour
  }

  blockquote {
    margin: 1em 0;
    padding-left: $small-padding;
    border-left: $small-padding solid $tertiary-colour;
  }

  img {
    width: 100%;
    height: 100%;
    margin: $medium-padding 0;
  }

    li {
      list-style-type: circle;
    }

  mark {
    background-color: $primary-colour;
  }

  del {
    color: $primary-colour;
  }

  hr {
    border-top:2px solid $tertiary-colour;
  }

  code {
    color: $tertiary-colour;
    text-align: center;
    padding: $small-padding;
  }

  pre {
    code {
      border: none;
      font-size: 1em;
    }
  }

}
