.post-exerpt {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: $medium-padding;

  .exerpt-title {
    width: 70%;
    order: 3;
  }

  .exerpt-date {
    width: 100%;
    order: 1;
    text-align: left;
    padding-bottom: $medium-padding;
  }
}

.time-to-read {
  width: 20%;
  order: 2;
  background-color: inherit;
  margin-right: $medium-padding;

  h2 {
    color: $secondary-colour;
  }
}

.top-tags {
  width: 100%;
  order: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: $medium-padding;

  .tag {
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: $tertiary-colour;
    padding: $small-padding;
    margin-right: $small-padding;
    margin-bottom: $small-padding;
    text-align: center;
    color: $tertiary-colour;
  }
}
