.tag-title {
  text-transform: uppercase;
  padding: $medium-padding;
  text-align: left;
  color: $secondary-colour;
}

.post-wrapper {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: $large-padding;

    @include mq-not-desktop {
      flex-direction: column;
    };

    @include mq-desktop {
      flex-direction: row;
    };
}

.excerpt-date {
  @include mq-phone {
    display: none;
  };

  @include mq-not-phone {
    text-align: left;
    padding-top: $medium-padding;
    padding-left: $medium-padding;
    padding-right: $medium-padding;
    display: inline-block;
  };
}

.image-wrapper {
  order: 1;
  @include mq-not-desktop {
    width: 100%;
  };

  @include mq-desktop {
    width: 40%;
  };
}

.excerpt-image {
  @include mq-phone {
    display: none;
  };

  @include mq-not-phone {
    width: 100%;
    order: 1;
    height: 250px;
    background-size: cover;
    margin-right: $medium-padding;
    margin-top: $medium-padding;
    margin-bottom: $medium-padding;
  };
}

.post-excerpt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include mq-phone {
    width: 100%;
    padding: $medium-padding;
  };

  @include mq-tablet {
    width: 100%;
    flex: 1;
    padding-right: $medium-padding;
  };

  @include mq-not-phone {
    flex-direction: row;
    order: 2;
    padding-left: $medium-padding;
    padding-bottom: $medium-padding;
  };

  @include mq-desktop {
    width: 60%;
  };


  .excerpt-title {
    display: flex;
    align-items: center;

    @include mq-phone {
      flex: 1;
      order: 2;
    };

    @include mq-not-phone {
      order: 1;
      width: 100%;
      padding: $small-padding 0;
    };
  }

  .excerpt-description {
    @include mq-phone {
      display: none;
    };

    @include mq-not-phone {
      order: 3;
      flex: 1;
    };
  }

  .date-time {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: $medium-padding;

    @include mq-phone {
      order: 1;
    };

    @include mq-not-phone {
      order: 2;
    };

    .excerpt-date-phone {

      @include mq-phone {
        width: 100%;
        order: 1;
        padding-bottom: $small-padding;
        text-align: center;
      };

      @include mq-not-phone {
        display: none
      };
    }
    .time-to-read {
      background-color: inherit;
      border-width: 2px;
      border-style: solid;
      border-color: $tertiary-colour;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: $small-padding;
      width: 90px;
      height: 90px;

      @include mq-phone {
        order: 2;
      };

      @include mq-not-phone {
        order: 3;
      };

      h1 {
        color: $tertiary-colour;
        order: 1;
        font-size: $large-header;
      }

      div {
        order: 1;
        text-align: center;
      }

      .content-string {
        display: none;
      }
    }
  }

  .top-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: $medium-padding;
    width: 100%;

    @include mq-phone {
      order: 3;
    };

    @include mq-not-phone {
      order: 4;
      justify-content: flex-end;
    };

    .tag {
      text-transform: uppercase;
      padding: $small-padding;
      margin-bottom: $small-padding;
      text-align: center;
      color: $secondary-colour;
      border-bottom: 1px solid $secondary-colour;

      @include mq-phone {
        margin-right: $medium-padding;
      };

      @include mq-not-phone {
        margin-left: $medium-padding;
      };

    }
  }
}
