.content-wrapper {
  order: 2;
  flex-grow: 1;
  max-width: 900px;

    @include mq-phone {
      padding: $small-padding $medium-padding;
    };

    @include mq-tablet {
      padding: $small-padding 2em;
    };

  h1, h2, h3, h4 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: $secondary-colour;
  }

  p {
    padding: $small-padding 0;
  }

  a {
    text-decoration: underline;
    border-bottom: 1px solid $primary-colour;
    text-decoration: none;
    color: $primary-colour
  }

  blockquote {
    margin: 1em 0;
    padding-left: $small-padding;
    border-left: $small-padding solid $tertiary-colour;
  }

  img {
    width: 100%;
    height: 100%;
    margin: $medium-padding 0;
  }

    li {
      list-style-type: circle;
    }

  mark {
    background-color: $tertiary-colour;
  }

  del {
    color: $primary-colour;
  }

  hr {
    border-top:2px solid $tertiary-colour;
  }

}
