.authorship {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: $medium-padding;

  .author-pic {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-size: cover;
    order: 1;
    margin-left: $small-padding;
  }


  a {
    border: 0px;
  }

  .name-date {
    display: flex;
    flex-direction: column;
    order: 2;

    .author-name {
      order: 1;
      color: $tertiary-colour;

    }

    .post-date {
      order: 2;
    }
  }
}
