.navigation-container{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: $small-padding;

  li {
    width: 50%;
    padding: $small-padding;
    text-align: center;
    color: $secondary-colour;
    list-style-type: none;
    margin: $small-padding;
  }
}

.blog-title-background {
  background-color: $primary-colour;
  width: 100%;

  h1 {
    padding: $small-padding;
    font-size: $small-header;
    background-color: inherit;
    text-align: center;
  }
}

.post-title-background {
  h2 {
    font-size: $large-header;
    color: $secondary-colour;
    background-color: inherit;
    text-align: center;
    width: 100%;
    padding: $medium-padding $small-padding;
  }
}

.post-image {
  width: 100%;
  background-size: cover;
  margin-right: $medium-padding;
  margin-bottom: $medium-padding;

  @include mq-phone {
    height: 150px;
  };

  @include mq-tablet {
    margin-top: $medium-padding;
    height: 250px;
  };
}
